* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

header {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
}
header h1 {
  width: 10%;
}
header h1 img {
  width: 80px;
  height: 80px;
  margin: 10px 0 0 10px;
}
header nav {
  width: 80%;
}
header nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
header nav ul li {
  width: auto;
  margin: 50px 0 0 0;
}
header nav ul li:hover {
  border-bottom: 1px solid gray;
}
header nav ul li a {
  text-decoration: none;
  color: dimgrey;
  font-size: 8pt;
}

main {
  width: 100%;
}
main img#top {
  width: 100%;
  margin-top: 120px;
}
main article {
  width: 90%;
  margin: auto;
}

main article#news {
  margin-top: 30px;
  margin-bottom: 30px;
}
main article#news h2 {
  width: 100%;
  padding: 0 1%;
}
main article#news section {
  width: 95%;
  margin: auto;
}
main article#news section ul {
  width: 100%;
  height: 120px;
  overflow: scroll;
}
main article#news section ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 5px 0;
  font-size: 10pt;
}
main article#news section ul li p.date {
  width: 25%;
}
main article#news section ul li p.inside {
  width: 75%;
}
main article#news section p.scroll {
  color: gray;
  margin: 10px 0 0 0;
}

main div.line {
  width: 50%;
  height: 100px;
  border-right: 1px solid aquamarine;
}

main article#world {
  margin-top: 30px;
  margin-bottom: 30px;
}
main article#world h2 {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}
main article#world section {
  width: 100%;
  display: flex;
  flex-direction: row;
}
main article#world section div {
  width: 100%;
}
main article#world section div img {
  width: 100%;
  margin: auto;
  box-shadow: 0px 0px 8px 3px gray;
}
main article#world section div h3 {
  width: 95%;
  text-align: center;
  margin: 10px auto;
}
main article#world section div div {
  width: 90%;
  margin: auto;
}
main article#world section div div h4 {
  width: 100%;
  text-align: center;
  margin: 8px 0;
}
main article#world section div div p {
  width: 90%;
  text-align: center;
  margin: 5px auto;
  font-size: 10pt;
}
main article#world section img#ar3 {
  width: 35%;
  margin: auto;
  box-shadow: 0px 0px 8px 3px gray;
}

main article#system {
  margin-bottom: 30px;
}
main article#system h2 {
  width: 100%;
  text-align: center;
  margin: 50px 0 20px 0;
}
main article#system section {
  width: 100%;
  margin: auto;
  /* display: flex;
  flex-direction: row; */
}
main article#system section img {
  width: 90%;
  display: block;
  margin: auto;
}
main article#system section div {
  width: 100%;
  padding: 10px 0 0 20px;
}
main article#system section div h3 {
  width: 90%;
  margin: 10px auto;
  text-align: center;
}
main article#system section div div {
  width: 95%;
  margin: auto;
  padding: 0;
}
main article#system section div div h4 {
  margin: 20px 0 40px;
}
main article#system section div div p {
  text-align: left;
  margin: 5px auto;
  font-size: 10pt;
}

main article#instruction {
  margin-bottom: 30px;
}
main article#instruction h2 {
  width: 100%;
  text-align: center;
  margin: 50px 0 20px 0;
}
main article#instruction section {
  width: 100%;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
}
main article#instruction section div {
  width: 95%;
  margin: auto;
  padding: 10px 0 10px 20px;
}
main article#instruction section div img {
  width: 95%;
  margin: 10px 0;
}
main article#instruction section div h3 {
  width: 98%;
  margin: auto;
}
main article#instruction section div ul {
  width: 90%;
  margin: auto;
  list-style: none;
}
main article#instruction section div ul li {
  margin: 5px 0;
}
main article#instruction section div#event {
  border-bottom: 1px solid aquamarine;
}

main article#movie {
  margin-bottom: 30px;
}
main article#movie h2 {
  width: 100%;
  text-align: center;
  margin: 50px 0 20px 0;
}
main article#movie section {
  width: 100%;
}
main article#movie section div {
  width: 80%;
  margin: auto;
}

main article#function {
  margin-bottom: 30px;
}
main article#function h2 {
  width: 100%;
  text-align: center;
  margin: 50px 0 20px 0;
}
main article#function section {
  width: 100%;
}
main article#function section ul {
  width: 80%;
  margin: auto;
}
main article#function section ul li {
  list-style: none;
  font-size: 10pt;
}
main article#function section p {
  width: 40%;
  margin: auto;
  text-indent: 10em;
}

footer {
  width: 100vw;
  padding: 50px 0 0 0;
  text-align: center;
}
footer small {
  width: auto;
  margin: auto;
}
